* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* min-height: 100vh; */
    overflow-x: clip;
    /* overflow-y: clip; */
}

:root {
    --dark-blue: rgb(15, 20, 36);
    --off-white: rgb(253, 253, 253);
    --medium-grey: rgb(100, 100, 100);
}