header {
    color: var(--off-white);
    width: 100vw;
}

.heading {
    color: var(--dark-blue);
}

.heading_h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.paragraph {
    margin-bottom: 1rem;
    font-size: 1.2rem
}