.heading {
    color: var(--dark-blue);
}

.heading_h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.heading_h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.paragraph {
    margin-bottom: 1rem;
    font-size: 1.2rem
}

.subtitle {
    font-size: 0.9rem;
    margin-top: 0.25rem;
    color: var(--medium-grey);
}

dialog:not(:target):not([open]) { display: none; }

body:has(dialog:target) { overflow: hidden; }