.heading {
    color: var(--dark-blue);
}

.heading_h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.heading_h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.paragraph {
    margin-bottom: 1rem;
    font-size: 1.2rem
}

.subtitle {
    font-size: 0.9rem;
    margin-top: 0.25rem;
    color: var(--medium-grey);
}

.hero-banner {
    padding: 4rem 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    flex-direction: column;
}
  
.hero-banner__text {
    color: var(--off-white);
    font-size: 1.2rem;
    text-align: center;
    width: 48rem;
    line-height: 1.6;
}

.hero-banner__heading {
    color: var(--off-white);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.hero-banner__text--quote {
    font-style: italic;
    width: 80%;
}

dialog:not(:target):not([open]) { display: none; }

body:has(dialog:target) { overflow: hidden; }