footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-left__image {
  height: 6rem;
}

.footer-left__text {
  color: var(--off-white);
  text-align: center;
  font-size: 0.9rem;
  margin: 0 0 0.2rem 0;
}

.footer-right {
  display: flex;
  gap: 1.5rem;
}

.footer-right__icon {
  height: 2.5rem;
  font-size: 2.5rem;
}

.fa-instagram {
  background: linear-gradient(45deg, #F58529, #E4405F, #D93F8D, #8a3ab9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.fa-facebook {
  color: #0165E1;
}

.fa-linkedin {
  color: #0A66C2;
}

@media (min-width: 768px) {
  footer {
    padding: 1rem 4rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .footer-left__text {
    text-align: left;
  }
}