.site-nav {
  width: min(100%, 64rem);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav__logo {
  height: 3rem;
}

.site-nav__link {
  display: none;
  text-decoration: none;
  color: var(--dark-blue);
}

.site-nav__hamburger {
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .site-nav {
    padding: 1rem 4rem;
  }  

  .site-nav__link {
    display: block;
  }

  .site-nav__hamburger {
    display: none;
  }
}

/* Mobile overlay */

.site-overlay {
  position: fixed;       /* or absolute, but fixed is better for full-screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--off-white);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.site-overlay--active {
  display: flex;
}

.site-overlay__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: var(--dark-blue);
}

.site-overlay__logo {
  height: 6rem;
}

.site-nav__link--overlay {
  display: block;
  font-size: 1.5rem;
}