.committee {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.committee__team {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
}

.committee__row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
}

.committee__photo {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.committee__member {
  min-width: 12rem;
  padding-bottom: 2rem;
}