.about-hero {
  height: 12rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
}

.about-hero__text {
  color: var(--off-white);
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
  width: 80%;
}

.homepage {
  padding: 4rem min(12rem, 15%);
  width: 100%;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mission__photo {
  width: 20rem;
}

.goals__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .values__photo {
  width: 20rem;
} */

.values__card {
  width: 30%;
}

.values__container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (min-width: 768px) {
  .mission {
    flex-direction: row;
  }

  .mission__photo {
    padding-top: 3rem;
  }

  .goals__card {
    width: calc(50% - 0.5rem);
  }
}