.about-hero {
  height: 12rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
}

.about-hero__text {
  color: var(--off-white);
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
  width: 80%;
}

.homepage {
  padding: 4rem min(12rem, 15%);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mission__photo {
  width: 20rem;
}

.goals__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .values__photo {
  width: 20rem;
} */

.values__card {
  width: 100%;
}

.sponsors__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors__logo {
  max-height: 12rem;
}

.sponsors__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sponsors__contact {
  text-align: center;
  padding-top: 6rem;
}

.values__container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

/* This is extremely generic as I haven't thought about button designs */
.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #0056b3;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .mission {
    flex-direction: row;
  }

  .mission__photo {
    padding-top: 3rem;
  }

  .goals__card {
    width: calc(50% - 0.5rem);
  }

  .values__card {
    width: 30%;
  }

  .sponsors__card {
    width: calc(50% - 0.5rem);
  }
}